@keyframes navSlidersAnimation {
    0%   {left: 0;}
    8.3%  {left: 0;}
    24.9%  {left: -100%;}
    41.5%  {left: -100%;}
    58.1%  {left: -200%;}
    74.7%  {left: -200%;}
    91.7%  {left: -300%;}
    100%  {left: -300%;}
}