*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(172, 255, 47, 0.1);
}

@keyframes navSlidersAnimation {
    0%   {left: 0;}
    8.3%  {left: 0;}
    24.9%  {left: -100%;}
    41.5%  {left: -100%;}
    58.1%  {left: -200%;}
    74.7%  {left: -200%;}
    91.7%  {left: -300%;}
    100%  {left: -300%;}
}

.container{
    background-color: white;
    width: 90%;
    //height: 1280px;
    margin: 0 auto;
    
    .nav{
        z-index: 10;
        position: relative;
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.5) 50%, rgba(255,255,255,0) 100%);
        max-height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-group-logo{
            width: 30%;
            margin-left: 20px;
            display: flex;
            justify-content: space-around;
            .nav-logo{
                height: 100%;
                img{
                    height: 75px;
                }
            }
    
            .nav-title{
                color: white;
                margin: auto 0;
                font-size: 3em;
            }
        }

        .nav-menu{
            margin: auto 20px auto 0;
            display: flex;
            ul{
                display: flex;
                li{
                    cursor: pointer;
                    border-radius: 3px;
                    padding: 8px 10px;
                    list-style: none;
                    margin: 10px;
                    background-color: white;
                    box-shadow: 0cm 0cm 10px rgba(0, 0, 0, 0.452);

                    a{
                        color: gray;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .nav-sliders{
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        position: relative;
        top: -75px;
        left: 0;
        height: 500px;
        background-color: aquamarine;

        .nav-slider-content{
            position: relative;
            animation: navSlidersAnimation 30s infinite;
            width: 400%;
            height: 100%;
            display: flex;
            .nav-slider{
                width: 100%;
                height: 100%;
                //background-color: chartreuse;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .store{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        .store-cart{
            display: none;//flex
            justify-content: center;
            z-index: 99;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            
            .cart-content{
                border-radius: 5px;
                overflow-y: auto;
                overflow-x: hidden;
                width: 70%;
                height: 80%;
                align-self: center;
                //margin: 0 auto;
                background-color: whitesmoke;

                .cart-title{
                    margin: 15px 10px;
                    display: flex;
                    justify-content: space-around;
                    
                    h3{
                        width: 90%;
                    }
                    label{
                        cursor: pointer;
                    }
                }
                table{
                    width: 98%;
                    margin: 15px 10px;
                    //background-color: red;

                    thead{
                        text-align: center;
                        font-size: 1.1em;
                        font-weight: bolder;
                    }
                    tbody{
                        width: 100%;
                        text-align: center;

                        tr{
                            width: 90%;

                            td{
                                //width: 50px;
                                height: 50px;
                                background-color: white;
                                img{
                                    margin: 0 auto;
                                    display: block;
                                    max-width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                
                .cart-article{
                    display: flex;
                    margin: 10px;
                    padding: 5px;
                    background-color: aquamarine;
                    
                    .article-img{
                        background-color: white;
                        cursor: pointer;
                        width: 100px;
                        height: 100px;
                        
                        img{
                            display: block;
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .article-title{
                        cursor: pointer;
                        //width: 100px;
                        height: 100px;
                    }
                    .article-description{
                        cursor: pointer;
                        //width: 100px;
                        height: 100px;
                    }
                }
            }
        }

        .store-searchBar{
            width: 100%;
            height: 40px;
            display: flex;
            
            form{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: center;
                //flex-wrap: wrap;
                //background-color: wheat;
                

                input{
                    display: block;
                    border-radius: 3px;
                    min-width: 40%;
                    height: 100%;
                    padding: 0 30px 0 10px;
                    border: 1px solid lightblue;

                    &:focus{
                        outline: none;
                    }
                }

                button{
                    left: -30px;
                    position: relative;
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    height: 100%;
                    width: 30px;
                }
            }
            label{
                cursor: pointer;
                width: 40px;
                display: flex;
                background-color: lightgrey;
                font-size: 1.5em;
                justify-content: center;
                border-radius: 5px;

                i{
                    align-self: center;
                }
            }
        }

        .store-filter{
            padding: 1%;
            width: 18%;
            height: 100%;
            background-color: rgba(211, 211, 211, 0.2);

            #store-filter-toggle{
                display: none;//none
            }
            .store-filter-toggle{
                font-size: 1.2em;
            }
            .filter-group{
                //background-color: aquamarine;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                

                h3{
                    width: 100%;
                    margin: 20px 7px 7px 7px;
                }
                input{
                    width: 10%;
                }
                label{
                    width: 60%;
                    margin-left: 5px;
                }
                input, label{
                    margin: 5px auto;
                }
            }
        }

        .store-items{
            width: 80%;//80%
            display: block;

            .store-articles{
                padding: 20px 5px;
                display: flex;
                flex-wrap: wrap;

                .article{
                    display: inline-block;
                    border: 1px solid lightgrey;
                    border-radius: 5px;
                    width: 250px;
                    min-height: 340px;
                    background-color: rgb(247, 247, 247); //lightgrey
                    margin: 15px 0.5%;

                    .article-img{
                        display: flex;
                        justify-content: center;
                        overflow: hidden;
                        padding: 1%;
                        width: 98%;
                        height: 250px;
                        background-color: white;

                        img{
                            align-self: center;
                            transition: width 2s, height 2s;
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .article-title{
                        display: block;
                        width: 100%;
                        margin: 3px 0;
                        height: 35px;
                        //background-color: red;
                        h3{
                            transition: font-size 0.1s;
                            height: 100%;
                            color: gray;
                            white-space: nowrap; 
                            overflow: hidden;
                            text-overflow: " . . ."; 
                            margin-left: 10px;
                            font-size: 1.3em;
                        }

                    }
                    .article-description{
                        display: flex;
                        justify-content: space-around;
                        align-items: baseline;
                        width: 100%;
                        //height: 20%;
                        
                        //background-color: bisque;
                        
                        p.newPrice{
                            //margin-left: 5px;
                            font-size: 1.7em;
                            color: rgb(92, 92, 92);
                        }
                        p.oldPrice{
                            //text-shadow: 0 0 5px black;
                            font-size: 1.2em;
                            //margin-left: 20px;
                            text-decoration: line-through;
                            color: rgb(170, 170, 170);
                        }
                    }
                    &:hover{
                        cursor: pointer;
                        .article-img{
                            img{
                                width: 90%;
                                height: 90%;
                            }
                        }

                        .article-title{
                            
                            h3{
                                font-size: 1em;
                                //color: red;
                                overflow:hidden;
                                white-space: normal;
                                text-overflow: " . . ."; 
                            }
                        }
                        //background-color: red;
                    }
                }
            }
        }
    }

    .contact{
        width: 100%;
        .contact-content{
            display: flex; //block
            width: 100%;
            height: 400px;
            background-color: rgba(255, 255, 255, 0.3);
            position: relative;
            top: 400px;
            margin-top: -400px;
            text-shadow: 1px 1px 15px black;
            

            .contact-content-title{
                width: 50%;
                display: flex;
                justify-content: center;
                //align-items: center;
                h3{
                    margin: 100px 0 0 0;
                    font-size: 3.5em;
                    color: aliceblue;
                    background-color: rgba(0, 0, 0, 0.1);
                    text-align: center;
                    width: 360px;
                    height: 70px;
                }
            }
            .contact-content-info{
                width: 50%;
                height: 100%;
                //background-color: aqua;
                color: aliceblue;

                p{
                    margin: 15px 0 15px 50px;
                    font-size: 2em;
                    
                    &:first-child{
                        margin-top: 65px;
                    }
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
        iframe{
            width: 100%;
            height: 400px;
        }
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 1.5em;
    //background-color: red;
}


/* Toogle Actions */
input#cart-toggle{
    display: none;
}
input#cart-toggle:checked ~ div.store-cart{
    display: flex;
}